.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    background-color: #8585f6;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: red;
}

.description {

}