.skillsBlock {
    height: 100vh;
    background-color: deepskyblue;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: blueviolet;
}

.skills {
    border: 1px solid black;
    width: 100%;
}